@charset "UTF-8";
@media screen and (max-width:850px) {
    #container {
        width: 50%;
    }
}
@media screen and (max-width:600px) {
    #container {
        width: 60%;
    }
}
@media screen and (max-width:500px) {
    #container {
        width: 75%;
    }
}
@media screen and (max-width:400px) {
    #container {
        width: 90%;
    }
    .btn-add {
        margin-left: 10px;
    }
}