@charset "UTF-8";
/* 공통 폰트 */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 제목 폰트 */
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'GangwonEdu_OTFBoldA';
}
#wrap {
    margin: 0;
    padding: 0;
}
#container {
    margin: 0 auto;
    margin-top: 100px;
    width: 35%;
    background-color: rgb(245, 245, 245, 0.8);
    box-shadow: 1px 3px 6px #999;
    padding: 30px 30px 40px 30px;
    box-sizing: border-box;
    position: relative;
}
/* <HEADER> */
/* 제목 */
.ttl {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: 'CookieRun-Regular';
    font-size: 37px;
    color: #333;
    position: relative;
    z-index: 200;
}
.underline {
    display: inline-block;
    width: 200px;
    height: 30px;
    background-color: #FEF0D6;
    position: relative;
    top: -25px;
    left: 50%;
    margin-left: -100px;
    z-index: 100;
}
/* 입력창 */
.input-wrap {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.input-todo {
    height: 40px;
    padding-left: 10px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #c9bfbb;
    flex-grow: 3;
}
.input-todo:focus {
    outline: 2px solid #E9B1AD;
}
.btn-add {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #E9B1AD;
    margin-right: 5px;
    margin-left: 20px;
    cursor: pointer;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 45px;
}
/* <MAIN> : TODO항목 리스트 영역 */
/* <ul> */
.todo-list {
    width: 100%;
    padding: 10px 0;
}
/* <li> */
.todo-item {
    width: 100%;
    height: 40px;
    background-color: #c2e0d8de;
    margin-bottom: 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
/* 체크박스 */
input[type="checkbox"] {
    display: none;
}
label {
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.check-icon {
    display: block;
    width: 7px;
    height: 10px;
    border: 0;
    transform: rotate(45deg);
    position: relative;
    top: -2px;
    border-radius: 2px;
}
input[type="checkbox"]:checked + .check-icon {
    border: solid #55a3a5;
    border-width: 0 4px 4px 0;
}
/* <span>투두항목text */
.todo-text {
    padding-left: 10px;
    position: relative;
    top: 2px;
    cursor: pointer;
}
/* todo 체크시 스타일 */
.todo-text-done {
    padding-left: 10px;
    position: relative;
    top: 2px;
    text-decoration: line-through;
    color: rgb(143, 149, 155);
    cursor: pointer;
}
/* todo 개별 삭제 버튼 */
.btn-remove {
    width: 40px;
    height: 40px;
    border-radius: 0 15px 15px 0;
    background-color: #79C0C3;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
/* todolist 비어있을 때 msg */
.no-item {
    width: 100%;
    height: 40px;
    background-color: rgb(233, 177, 173, 0.7);
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    padding-top: 5px;
}
/* <FOOTER> */
footer {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    margin: 10px 0 -30px -30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* 초기화 버튼(todo 전체 삭제) */
.btn-clear-all {
    width: 110px;
    height: 30px;
    border-radius: 30px;
    background-color: #C7C4CF;
    color: white;
    box-shadow: 0 0 4px #999;
    text-align: center;
    font-size: 21px;
    cursor: pointer;
}
.btn-clear-all span {
    position: relative;
    top: 3px;
}
/* 모달 */
.modal-wrap {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
}
.modal {
    margin: 0 auto;
    margin-top: 40%;
    width: 83%;
    height: 100px;
    background-color: rgb(169, 169, 169, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input-edit {
    width: 80%;
    height: 30px;
    padding-left: 10px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #c9bfbb;
}
.btn-wrap {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.modal-btn {
    width: 30%;
    height: 30px;
    background-color: #E9B1AD;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 6px #999;
}
.modal-btn > span {
    color: white;
    font-size: 18px;
    line-height: 30px;
}
.btn-cancel {
    background-color: black;
    margin-right: 10px;
}
