@charset "UTF-8";
/* 공통 폰트 */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 제목 폰트 */
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'GangwonEdu_OTFBoldA';
}
#wrap {
    margin: 0;
    padding: 0;
}
#container {
    margin: 0 auto;
    margin-top: 100px;
    width: 35%;
    background-color: rgb(245, 245, 245, 0.8);
    box-shadow: 1px 3px 6px #999;
    padding: 30px 30px 40px 30px;
    box-sizing: border-box;
    position: relative;
}
/* <HEADER> */
/* 제목 */
.ttl {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: 'CookieRun-Regular';
    font-size: 37px;
    color: #333;
    position: relative;
    z-index: 200;
}
.underline {
    display: inline-block;
    width: 200px;
    height: 30px;
    background-color: #FEF0D6;
    position: relative;
    top: -25px;
    left: 50%;
    margin-left: -100px;
    z-index: 100;
}
/* 입력창 */
.input-wrap {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.input-todo {
    height: 40px;
    padding-left: 10px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #c9bfbb;
    flex-grow: 3;
}
.input-todo:focus {
    outline: 2px solid #E9B1AD;
}
.btn-add {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #E9B1AD;
    margin-right: 5px;
    margin-left: 20px;
    cursor: pointer;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    position: relative;
    top: -2px;
    box-shadow: 1px 2.3px 0 #a07977;
}
.btn-add:active {
    top: 0px;
    box-shadow: 1px 2px 0 transparent;
    transition: 0.2s all ease;
}
/* <MAIN> : TODO항목 리스트 영역 */
/* <ul> */
.todo-list {
    width: 100%;
    padding: 10px 0;
    /* height: 310px;
    overflow: hidden; */
}
/* <li> */
.todo-item {
    width: 100%;
    /* height: 42px; */
    height: 54px;
    padding-top: 12px;
    /* background-color: #c2e0d8de; */
    /* margin-bottom: 12px; */
    /* border-radius: 15px; */
    /* display: flex; */
    /* align-items: center; */
    cursor: pointer;
    /* -webkit-user-drag: element; */
    box-sizing: border-box;
}
/* wrapper<div> */
.todo-wrap {
    width: 100%;
    height: 42px;
    /* margin-top: 12px; */
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: #c2e0d8de;
}
/* 체크박스 */
input[type="checkbox"] {
    display: none;
}
label {
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 1px inset #999;
}
.check-icon {
    display: block;
    width: 7px;
    height: 10px;
    border: 0;
    transform: rotate(45deg);
    position: relative;
    top: -2px;
    border-radius: 2px;
}
input[type="checkbox"]:checked + .check-icon {
    border: solid #55a3a5;
    border-width: 0 4px 4px 0;
}
/* <span>투두항목text */
.todo-text,
.todo-text-done {
    display: block;
    max-width: 170px;
    padding-left: 10px;
    position: relative;
    top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* todo 체크시 스타일 */
.todo-text-done {
    text-decoration: line-through;
    color: rgb(143, 149, 155);
}
/* todo 개별 삭제 버튼 */
.btn-remove {
    width: 40px;
    height: 40px;
    border-radius: 0 15px 15px 0;
    background-color: #79C0C3;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
/* todolist 비어있을 때 msg */
.no-item {
    width: 100%;
    height: 40px;
    background-color: rgb(233, 177, 173, 0.7);
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    padding-top: 5px;
}
/* <FOOTER> */
footer {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    margin: 10px 0 -30px -30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* 초기화 버튼(todo 전체 삭제) */
.btn-clear-all {
    width: 110px;
    height: 30px;
    border-radius: 30px;
    background-color: #C7C4CF;
    color: white;
    box-shadow: 0 0 2px #777;
    text-align: center;
    font-size: 21px;
    cursor: pointer;
}
.btn-clear-all span {
    position: relative;
    top: 3px;
}
/* todo 수정 모달 */
.modal-wrap {
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 255, 255, 0.5); */
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.icon-close {
    display: none;
    width: 23px;
    height: 45px;
    color: rgb(169, 169, 169);
    cursor: pointer;
}
.fa-xmark {
    font-size: 35px;
}
.modal {
    width: 83%;
    height: 140px;
    /* background-color: rgb(169, 169, 169, 0.9); */
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input-edit {
    width: 80%;
    height: 30px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  margin-top: 35px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #c9bfbb;
    box-shadow: 0 0 2px inset #999;
}
.input-edit:focus {
    outline: 2px solid #E9B1AD;
}
.btn-update {
    width: 100%;
    height: 40px;
    background-color: #E9B1AD;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 0 3px 3px;
}
.btn-update > span {
    color: white;
    font-size: 18px;
    line-height: 48px;
}
.btn-update > i {
    font-size: 11px;
    line-height: 40px;
    padding-left: 7px;
    color: white;
}
