@charset "UTF-8";
/* 공통 폰트 */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 제목 폰트 */
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'GangwonEdu_OTFBoldA';
}
:root {
    --color-text-checked : #8f959b;
    --color-text-default : #000;
    --color-point : #588b8d;
    --color-divbox-default : #c2e0d8;
}
#wrap {
    margin: 0;
    padding: 0;
}
#container {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 35%;
    background-color: rgb(245, 245, 245, 0.8);
    box-shadow: 1px 3px 6px #999;
    padding: 30px 30px 40px 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}
/* <HEADER> */
header {
    width: 100%;
}
/* 제목 */
.ttl {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: 'CookieRun-Regular';
    font-size: 37px;
    color: #333;
    position: relative;
    z-index: 200;
}
.underline {
    display: inline-block;
    width: 200px;
    height: 30px;
    background-color: #fef0d6;
    position: relative;
    top: -25px;
    left: 50%;
    margin-left: -100px;
    z-index: 100;
}
/* 입력창 */
.input-wrap {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.input-todo {
    height: 40px;
    padding-left: 10px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #c9bfbb;
    flex-grow: 3;
}
.input-todo:focus {
    outline: 2px solid #e9b1ad;
}
.btn-add {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e9b1ad;
    margin-right: 5px;
    margin-left: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    position: relative;
    top: -2px;
    box-shadow: 1px 2.3px 0 #a07977;
}
.btn-add:active {
    top: 0px;
    box-shadow: 1px 2px 0 transparent;
    transition: 0.2s all ease;
}
/* <MAIN> : TODO항목 리스트 영역 */
main {
    width: 100%;
}
/* <ul> */
.todo-list {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 40px;
}
/* <li> */
.todo-item {
    width: 100%;
    height: 54px;
    padding: 12px 0 0 0;
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
}
/* wrapper<div> */
.todo-box {
    width: 100%;
    height: 42px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: var(--color-divbox-default);
}
/* 체크박스 */
.check-todo {
    display: none;
}
.check-label {
    width: 23px;
    height: 23px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 1px inset #999;
}
.check-icon {
    display: block;
    width: 7px;
    height: 10px;
    border: 0;
    transform: rotate(45deg);
    position: relative;
    top: -2px;
    border-radius: 2px;
}
.check-todo:checked + .check-icon {
    border: solid #55a3a5;
    border-width: 0 4px 4px 0;
}
/* <span>투두항목text */
.todo-text,
.todo-text-done {
    display: block;
    max-width: 170px;
    padding-left: 10px;
    position: relative;
    top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.todo-text {
    color: var(--color-text-default);
}
.todo-text.ondrag {
    color: #fff;
}
.todo-text-done {
    text-decoration: line-through;
    color: var(--color-text-checked);
}
/* todo 개별 삭제 버튼 */
.btn-remove {
    width: 40px;
    height: 40px;
    border-radius: 0 15px 15px 0;
    background-color: #79c0c3;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
/* todo 정렬 버튼 */
.todo-list .icon-sort {
    width: 40px;
    height: 40px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    color: var(--color-point);
    display: none;
}
/* todolist 비어있을 때 msg */
.empty-todo {
    width: 100%;
    height: 40px;
    background-color: rgb(233, 177, 173, 0.7);
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    padding-top: 5px;
}
/* <FOOTER> */
footer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
}
/* 순서바꾸기 버튼 */
.sort-label {
    position: relative;
    display: block;
    width: 46px;
    height: 20px;
    background-color: white;
    align-items: center;
    border: 2px solid #c7c4cf;
    box-sizing: border-box;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
}
.sort-check {
    display: none;
}
.sort-switch {
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #c7c4cf;;
    transition: 0.2s;
    top: 1px;
    left: 2px;
    z-index: 200;
}
.sort-check:checked ~ .sort-label {
    background-color: #55a3a5;
    border: 2px solid #55a3a5;
}
.sort-check:checked + .sort-label .sort-switch {
    left: 28px;
    background-color: #fff;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
}
.sort-label .fa-sort {
    position: absolute;
    z-index: 100;
    color: #fff;
    top: 1.1px;
    left: 5px;
    font-size: 14px;
}
/* 초기화 버튼(todo 전체 삭제) */
.btn-clear-all {
    width: 110px;
    height: 30px;
    border-radius: 30px;
    background-color: #c7c4cf;
    color: #fff;
    box-shadow: 0 0 2px #777;
    text-align: center;
    font-size: 21px;
    cursor: pointer;
}
.btn-clear-all span {
    position: relative;
    top: 3px;
}
/* todo 수정 모달 */
.modal-wrap {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.modal {
    width: 83%;
    height: 140px;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input-edit {
    width: 80%;
    height: 30px;
    margin-top: 35px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #c9bfbb;
    box-shadow: 0 0 2px inset #999;
}
.input-edit:focus {
    outline: 2px solid #e9b1ad;
}
.btn-update {
    width: 100%;
    height: 40px;
    background-color: #e9b1ad;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 0 3px 3px;
}
.btn-update > span {
    color: #fff;
    font-size: 18px;
    line-height: 48px;
}
.btn-update > i {
    font-size: 11px;
    line-height: 40px;
    padding-left: 7px;
    color: #fff;
}
